node_modules
dist
dist-demo
*.local
.DS_Store
npm-debug.log*
.vite
vite.config.ts.timestamp-*.mjs

# design-sync
.ds-sync/
ds-bundle/
.design-sync/.cache/
.design-sync/learnings/
.design-sync/node_modules
